
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
    <link rel="stylesheet" href="{% static 'styles/checkbox.css' %}">
  </head>
  <section>
    <div class="heder_one">
      <h1>Книжный магазин</h1>
    </div>


    <div class="create_container">
      <input
      class="create_input"
      type="text"
      placeholder="Название книги">
      <button class="create_button" type="button" name="button">Поиск</button>
    </div>
    <div class="boxOne">
      <h1 class="titleBook">Заголовок</h1>
      <div class="boxTwo">
        <h2 class="subtitleBox">Подзаголовок</h2>
        <h5>Описание</h5>
        <h4>Цена</h4>
        <h5>Жанр</h5>
        <h5>Автор</h5>
        <h5>Гот выхода книги</h5>
        <h5>Дата добовления книги на сайт</h5>

      </div>
    </div>



  </section>
  <body>

  </body>
</html>
