
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'styles/bookstor.css' %}">
    <link rel="stylesheet" href="{% static 'styles/checkbox.css' %}">
  </head>

    <div class="heder_one">
      <h1>Книжный магазин</h1>
    </div>
    <div class="create_container">
        <form action="{% url 'add-book' %}" method="POST">
            {% csrf_token %}
            <input
                class="create_title"
                type="text"
                placeholder="Заголовок"
                name="title_text"
            />
        
            <input
                class="create_subtitle"
                type="text"
                placeholder="Подзаголовок"
                name="subtitle_text"
            />
        
            <input
                class="create_description"
                type="text"
                placeholder="Описание"
                name="description_text"
            />
        
            <input
                class="create_price"
                type="text"
                placeholder="Цена"
                name="price_text"
            />
        
            <input
                class="create_genre"
                type="text"
                placeholder="Жанр"
                name="genre_text"
            />
       
            <input
                class="create_author"
                type="text"
                placeholder="Автор"
                name="author_text"
            />
        
            <input
                class="create_year"
                type="text"
                placeholder="Год выхода книги"
                name="year"
            />
        

            <button class="create_button">Добавить книгу</button>
        </form>

    </div>
    <section>
      <div class="container">
          {% for book_shop in book_shop %}
            
                <div class="boxOne
                    {% if book_shop.is_favorite %}
                    marked
                    {% endif %}
                ">
                    <h1 class="titleBook">{{ book_shop.text_Title }}</h1>
                    <div class="boxTwo">
                        <h3 class="subtitleBox">{{ book_shop.text_Subtitle }}</h3>
                        <p>Описание <h4>{{ book_shop.text_Description }}</h4></p>
                        <p>Цена: <h4>{{ book_shop.text_Price }}</h4> </p>
                        <p>Жанр: <h4>{{ book_shop.text_Genre }}</h4></p>
                        <p>Автор: <h4>{{ book_shop.text_Author }}</h4></p>
                        <p>Год выхода книги: <h4>{{ book_shop.text_Year }}</h4></p>
                        <p>Дата добовления книги на сайт: <h4>{{ book_shop.created_at }}</h4></p>
                        <div class="fotter">
                            {% if book_shop.is_favorite %}
                                <a href="{% url 'unmark-book' book_shop.id %}"><img src="{% static './icons/marked1.png' %}"></a>
                            {% else %}
                                <a href="{% url 'mark-book' book_shop.id %}"><img src="{% static './icons/unmarked1.png' %}"></a>
                            {% endif %}
                                <a href="{% url 'delete-book' book_shop.id %}"><img src="{% static './icons/delete1.png' %}"></a>
                                <a href="{% url 'detail-book' book_shop.id %}">Узнать больше</a>
                            <style>
                                img{
                                    height: 30px;
                                    width: 30px;
                                    position: bottom;
                                }
                            </style>
                        </div>
                     </div>
                
            </div>
          {% endfor %}  
      </div>
  </section>
  <body>

  </body>
</html>
